body{
    display:grid;
    margin: .5rem;
    padding: .5rem;
    font-size: 16px;
    justify-content: center;
}
.header{
    display: flex;
    background-color: blue;
    color: #ffffff;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
}

#pic{
    box-shadow: 3px 5px 32px 8px rgba(0,0,0,0.36);
    height: 100px;
    width: auto;
    margin-left: 30px;
    
}

.main {
    padding: 1rem;
}

.footer {
    background-color: blue;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .9rem;
}

.footer span {
    text-decoration: underline;
}

.last-update {
    color: gold;
}
