@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


/* header/ nav */

header{
    background-color:#84A98C;
    display: grid;
    grid-template-columns: 1fr 40% 1fr 1fr 1fr;
    align-items: center;
}
nav{
    display: grid;
    grid-template-rows: 205 1fr;  
    margin: 1em;
}
nav button{
    background-color: transparent;
    border-radius: 0;
    color:#214F4B;
    font-size: 2rem;
    border-color: transparent;

}

nav ul{
    list-style-type: none;
    margin-left: -25%;
    display: none;
    background-color:#214F4B;
    color: white;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 5%;
    border-top: 1px solid rgb(178, 178, 178);
}

nav ul li a:hover{
    background-color: #84A98C;

}

nav ul.open{
    display: block;
    padding: 20px;
    
}

h1{
    font-size: 30px;
    margin-left: 5%;
}

#logo{
    width: 100%;
    padding: 10px;
}
footer #logo{
    width: 20%;
    
}

.date{grid-column: 1 / span 5;
    grid-row: 3 / span 1;
    text-align: center;
    padding: 1em;
    margin: .5em;
    background-color:#214F4B;
    color:#CAD2C5;
    font-family: 'Raleway';
}

#hamburgerBtn span:nth-child(1){display: block;}
#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;}
#hamburgerBtn.open span:nth-child(2){display: block;}

/* font s*/
h1, h2, h3, h4{
    font-family: 'Lato', 'Montserrat', 'Raleway';
}
p{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.2rem;
}
p, a{
    font-family: 'Roboto';
}


/* Main */

main section{
    background-color: #CAD2C5;
    height: 100%;
    margin: 10px;
    border: solid 1px gray;
 
}
main section p{
    padding: 5%;
    color:#214F4B;
    font-size: 1.5rem;
}


.spotlight p{
    border: solid 1px #214F4B;
    height: 100px;
    margin: 5%;
}

main .join{display: none;}

.spotlight p:nth-child(3){
    display: none;
}


/* Here is the footer*/

footer{
    text-align: center;
    background-color: #84A98C;
    color:#EBEBEB;
    padding: 5%;
}

footer .logo{
display: block;
margin-left: auto;
margin-right: auto;
width: 60%;
}

footer h5{
    font-size: 20px;
    margin-bottom: -2%;
}

footer .very-bottom{
    border-top: 1px solid white;
    font-size: 12px;
}
footer .very-bottom p:nth-child(2){
    font-weight: 700;
}

















































/*header{
    background-color: #84A98C;  
    display: flex;
    text-align: center;
}
#logo{
    width: 10%;
    padding: 10px;
}

h1,h2{
    text-align: center;
    
    
}
.icons{
    float: right ;
}
.date{
    text-align: center;
    
}
nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color:#214F4B;
}
nav {
    background-color: rgba(0,0,0,0);
    float: right;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5)
}
nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}
nav ul{
    display: none;
}
nav ul.open{
    display: block;
}
main section{
    background-color: #EBEBEB;
    height: 100%;
    margin: 10px;
    border: solid 1px #CAD2C5;
}

main p{
    padding: 5%;
    color: black;
    font-size: 25px;
}

.spotlight p{
    border: solid 1px #214F4B;
    height: 100px;
    margin: 20px;
}

main .join{display: none;}

.spotlight p:nth-child(3){
    display: none;
}
h1,h2,h3{
    font-family: 'Lato', 'Montserrat', 'Raleway';
}
p{
    font-family: 'Roboto';
}
footer{
    background-color: #84A98C;
    padding: 2rem;
    margin: 20px 0 auto;
    text-align: center;
    border-top: 20px;
}
footer #logo{
    width: 10%;
}*/





